NODE_ENV=development
PORT=4000
JWT_SECRET=dev_secret_change_me
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tixigo?schema=public"

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
PLATFORM_COMMISSION_BP=500 # 5%

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_FROM="Tixigo <noreply@tixigo.local>"

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback
